<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WordKeeper - your pocket dictionary</title>
    <!-- idk what to say here ------- just a placeholder -->
<link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    
    <main>
        <h1 class="title">Word Keeper</h1>
        <p>Save your new words with translation</p>
    </main>

    <!-- coding HTML in VIM feels weird --> 
</body>
</html>